

.navbar{
  border-bottom: #608e72 3px solid;
}

#header{
   background: url('images/look4work.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; 
  min-height: 700px;

}

.form-control{
  display: block;
  margin-top: 250px;
  width: 100%; 
}

.btn{
  display: inline-flex;
  margin-top: 280px;
  margin-bottom: 15px;
}


