

.navbar{
  border-bottom: #316bb0 3px solid;
}

#header{
   background: url('images/look4work.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; 
  min-height: 700px;

}

.form-control{
  display: block;
  margin-top: 250px;
  width: 100%; 
}

.btn{
  display: inline-flex;
  margin-top: 280px;
  margin-bottom: 15px;
}
.header{
  background: #316bb0;
}
.subtitle{
  color: #316bb0;
  font-style: italic;
  font-size: 1.5rem;
  text-align: left;
  margin-top: 75px;
}

.maintitle{
  color: #f4f4f4;
  padding: 20px;
  margin-bottom: 20px;
}

.form-control{
  display: inline-flex;
}


